
= form_for @nasabah,:html => {:class => "form-horizontal"} do |f|
	= render 'layouts/shared/alert_object', :object => f.object
	.row-fluid
		.span8
			.control-group
				=f.label :jenis_product, :class => "control-label"
				.controls
					= f.select :product_id, options_for_select(@nasabah.jenis_product_collection), :html => {:class => "input-block-level"}
	%hr
	%h4 Data Pribadi
	%hr
	.row-fluid
		.span8
			.control-group
				= f.label :nama_lengkap, :class => "control-label"
				.controls
					= f.text_field :nama_lengkap, :class => "input-block-level"
			.control-group
				= f.label :email, :class => "control-label"
				.controls
					= f.email_field :email, :class => "input-block-level"
			.control-group
				= f.label :no_ponsel, :class => "control-label"
				.controls
					= f.text_field :no_ponsel, :class => "input-block-level"
			.control-group
				= f.label :no_tlp_rumah, :class => "control-label"
				.controls
					= f.text_field :no_tlp_rumah, :class => "input-block-level"
			.control-group
				= f.label :tempat_lahir, :class => "control-label"
				.controls
					= f.text_field :tempat_lahir, :class => "input-block-level"		
			.control-group
				= f.label :tanggal_lahir, :class => "control-label"
				.controls
					= f.text_field :tanggal_lahir, :class => "input-block-level datepicker"
			.control-group
				= f.label :agama, :class => "control-label"
				.controls
					.form-inline
						- Nasabah::AGAMA.each do |agama|
							= f.label :agama, :class => "radio", :style => "margin-right: 10px;" do
								= f.radio_button :agama, "#{agama}"
								= agama
			.control-group
				= f.label :status_pernikahan, :class => "control-label"
				.controls
					.form-inline
						- Nasabah::STATUS_PERNIKAHAN.each do |pernikahan|
							= f.label :status_pernikahan, :class => "radio", :style => "margin-right: 10px;" do
								= f.radio_button :status_pernikahan, "#{pernikahan}"
								= pernikahan
			.control-group
				= f.label :jenis_kelamin, :class => "control-label"
				.controls
					.form-inline
						- Nasabah::SEX.each do |sex|
							= f.label :jenis_kelamin, :class => "radio", :style => "margin-right: 10px;" do
								= f.radio_button :jenis_kelamin, "#{sex}"
								= sex
			.control-group
				= f.label :kewarganegaraan, :class => "control-label"
				.controls
					= f.text_field :kewarganegaraan, :class => "input-block-level"
			.control-group
				= f.label :jenis_identitas, :class => "control-label"
				.controls
					.form-inline
						- Nasabah::JENIS_IDENTITAS.each do |id_type|
							= f.label :jenis_identitas, :class => "radio", :style => "margin-right: 10px;" do
								= f.radio_button :jenis_identitas, "#{id_type}"
								= id_type
			.control-group
				= f.label :no_identitas, :class => "control-label"
				.controls
					= f.text_field :no_identitas, :class => "input-block-level"
			
			.control-group
				= f.label :expire_identitas, :class => "control-label"
				.controls
					= f.text_field :expire_identitas, :class => "input-block-level datepicker"
			.control-group
				= f.label :alamat_rumah, :class => "control-label"
				.controls
					= f.text_area :alamat_rumah, :class => "input-block-level", :rows=> "4"
	
			.control-group
				= f.label :alamat_surat, :class => "control-label"
				.controls
					= f.text_area :alamat_surat, :class => "input-block-level", :rows=> "4"
			.control-group
				= f.label :status_rumah_tinggal, :class => "control-label"
				.controls
					= f.text_field :status_rumah_tinggal, :class => "input-block-level"
	%hr
	%h4 Data Pekerjaan
	%hr
	.row-fluid
		.span8
			.control-group
				= f.label :no_npwp, :class => "control-label"
				.controls
					= f.text_field :no_npwp, :class => "input-block-level"
			.control-group
				= f.label :no_tlp_kantor, :class => "control-label"
				.controls
					= f.text_field :no_tlp_kantor, :class => "input-block-level"
			.control-group
				= f.label :no_faximile, :class => "control-label"
				.controls
					= f.text_field :no_faximile, :class => "input-block-level"
			.control-group
				= f.label :pekerjaan, :class => "control-label"
				.controls
					= f.text_field :pekerjaan, :class => "input-block-level"
			.control-group
				= f.label :bidang_usaha, :class => "control-label"
				.controls
					= f.text_field :bidang_usaha, :class => "input-block-level"
	%hr
	%h4 Data Pelengkap
	%hr
	.row-fluid
		.span8
			.control-group
				= f.label :sumber_dana, :class => "control-label"
				.controls
					= f.text_field :sumber_dana, :class => "input-block-level"
			.control-group
				= f.label :tujuan_penggunaan_dana, :class => "control-label"
				.controls
					= f.text_field :tujuan_penggunaan_dana, :class => "input-block-level"
			.control-group
				= f.label :tujuan_penggunaan_rekening, :class => "control-label"
				.controls
					= f.text_field :tujuan_penggunaan_rekening, :class => "input-block-level"
			.control-group
				= f.label :tujuan_penggunaan_rekening, :class => "control-label"
				.controls
					= f.text_field :tujuan_penggunaan_rekening, :class => "input-block-level"
			.control-group
				= f.label :nama_lengkap_ibu_kandung, :class => "control-label"
				.controls
					= f.text_field :nama_lengkap_ibu_kandung, :class => "input-block-level"
	.form-actions
		= link_to nasabahs_path, :class => "btn btn-large" do
			%i.icon-arrow-left
			Back
		%button.btn.btn-primary.btn-large
			%i.icon-pencil
			= @nasabah.new_record? ? "Save" : "Update"