.row-fluid
	.span6
		%h3 Data Nasabah
	.span6		
%hr

%table.table.table-bordered
	%thead
		%tr
			%th #
			%th No Rekening
			%th Nama lengkap
			%th Saldo
			%th No Identitas
			%th Jenis Kelamin
			%th Jenis Product
			%th Actor
			%th Approved
			%th Acomplish
			%th Action
	%tbody
		- i = 1
		- @nasabahs.each do |nasabah|
			%tr
				%td= i
				%td No Rekening
				%td= nasabah.nama_lengkap
				%td= nasabah.current_saldo
				%td= nasabah.no_identitas
				%td= nasabah.jenis_kelamin
				%td Jenis Produk
				%td Actor
				%td Approved
				%td Acomplish
				%td
					.btn-group
						= link_to nasabah, :class => "btn btn-mini" do
							%i.icon-search
						= link_to edit_nasabah_path(nasabah), :class => "btn btn-mini" do
							%i.icon-edit
						= link_to nasabah, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => "btn btn-mini" do
							%i.icon-remove-sign
			- i+=1

%hr
.row-fluid
	.span6
		= link_to new_nasabah_path, :class => "btn btn-primary" do
			%i.icon-pencil
			New Nasabah
	.span6
		/ = will_paginate @users

