.row-fluid
	.span6
		%h3 
			%i.icon-group
			Data Nasabah
			= @nasabah.nama_lengkap
	.span6
/ %table.table
/ 	-JSON.parse(@nasabah.to_json).each do |k,v|
/ 		%tr
/ 			%td
/ 				.center-text
/ 					%b= k.titleize
/ 			%td
/ 				.center-text= v
%table.table
	%tr
		%td{:colspan => 2}
			%h3 Data Pribadi
	%tr
		%td 
			%b Nama lengkap
		%td= @nasabah.nama_lengkap
	%tr
		%td
			%b Email
		%td= @nasabah.email
	%tr
		%td
			%b No tlp rumah
		%td= @nasabah.no_tlp_rumah
	%tr
		%td
			%b No ponsel
		%td= @nasabah.no_ponsel
	%tr
		%td
			%b Tempat lahir
		%td= @nasabah.tempat_lahir
	%tr
		%td
			%b Tanggal lahir
		%td= @nasabah.tanggal_lahir
	%tr
		%td
			%b Jenis kelamin
		%td= @nasabah.jenis_kelamin
	%tr
		%td
			%b Status pernikahan
		%td= @nasabah.status_pernikahan
	%tr
		%td
			%b Agama
		%td= @nasabah.agama
	%tr
		%td
			%b Alamat rumah
		%td= @nasabah.alamat_rumah
	%tr
		%td
			%b Alamat surat
		%td= @nasabah.alamat_surat

	%tr
		%td
			%b Kewarganegaraan
		%td= @nasabah.kewarganegaraan
	%tr
		%td
			%b No identitas
		%td= @nasabah.no_identitas
	%tr
		%td
			%b Jenis identitas
		%td= @nasabah.jenis_identitas
	%tr
		%td
			%b Expire identitas
		%td= @nasabah.expire_identitas
	%tr
		%td{:colspan => 2}
			%h3 Data Pekerjaan
	%tr
		%td
			%b Pekerjaan
		%td= @nasabah.pekerjaan
	%tr
		%td
			%b Bidang usaha
		%td
			= @nasabah.bidang_usaha
	%tr
		%td
			%b No npwp
		%td= @nasabah.no_npwp

	%tr
		%td
			%b No tlp kantor
		%td
			= @nasabah.no_tlp_kantor

	%tr
		%td
			%b No faximile
		%td= @nasabah.no_faximile
	%tr
		%td{:colspan => 2}
			%h3 Data Account Bank
	%tr
		%td
			%b Saldo
		%td= @nasabah.current_saldo

	%tr
		%td
			%b Rekening koran
		%td= @nasabah.rekening_koran
	
	%tr
		%td
			%b Status rumah tinggal
		%td= @nasabah.status_rumah_tinggal


	%tr
		%td
			%b Sumber dana
		%td= @nasabah.sumber_dana
	%tr
		%td
			%b Tujuan penggunaan rekening
		%td= @nasabah.tujuan_penggunaan_rekening
	%tr
		%td
			%b Tujuan penggunaan dana
		%td= @nasabah.tujuan_penggunaan_dana
	%tr
		%td
			%b Nama lengkap ibu kandung
		%td
			= @nasabah.nama_lengkap_ibu_kandung
	%tr
		%td
			%b Actor
		%td= @nasabah.user.nama_lengkap
	%tr
		%td
			%b Approved
		%td
			= @nasabah.approved
	%tr
		%td
			%b Accomplished
		%td
			= @nasabah.accomplished
	%tr
		%td
			%b Approved at
		%td
			= @nasabah.approved_at
	%tr
		%td
			%b Is archive
		%td= @nasabah.is_archive
	%tr
		%td{:colspan => 2}

%hr
= link_to nasabahs_path, :class => "btn btn-large" do
	%i.icon-arrow-left
	Back

= link_to edit_nasabah_path(@nasabah), :class => "btn btn-primary btn-large" do
	%i.icon-edit
	Edit

