%header.navbar.navbar-fixed-top
	.navbar-inner
		.container	
			= link_to root_path, :class => "brand" do
				Bank Syariah AT-TAQWA
			%ul.nav
				/ - if can?(:manage, Nasabah)
				%li
					= link_to nasabahs_path do
						%i.icon-group
						Nasabah
				%li
					= link_to setorans_path do
						%i.icon-exchange
						Setoran
				%li.dropdown
					= link_to "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" do
						%i.icon-briefcase
						Laporan
						%b.caret
					%ul.dropdown-menu
						%li
							= link_to "#" do
								%i.icon-group
								Nasabah
						%li
							= link_to "#" do
								%i.icon-exchange
								Setoran
				%li
					= link_to users_path do
						%i.icon-user
						User
				%li
					= link_to products_path do
						%i.icon-barcode
						Products
			%ul.nav.pull-right
				%li.dropdown
					= link_to "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" do
						%i.icon-user-md
						= current_user.nama_lengkap
						%b.caret
					%ul.dropdown-menu
						%li
							= link_to "#" do
								%i.icon-user
								Profile
						%li
							= link_to "#" do
								%i.icon-cog
								Edit Profile
						%li.divider
						%li
							= link_to destroy_user_session_path, :method => :delete do
								%i.icon-off
								Logout