%p#notice= notice

%p
  %b Name:
  = @product.name
%p
  %b Version:
  = @product.version
%p
  %b Description:
  = @product.description
%p
  %b Month period:
  = @product.month_period
%p
  %b Month credit:
  = @product.month_credit
%p
  %b First credit:
  = @product.first_credit
%p
  %b Code:
  = @product.code

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
