!!!
%html
	%head
		%title Devise
		= stylesheet_link_tag    "devise", :media => "all"
		
		= csrf_meta_tags
	%body
		#background
			= image_tag "background2.jpg"
		.gradient-bg
		.container
			= yield
		#script
			= javascript_include_tag "application"
			= yield :bottom_js
			